*{
    font-style: italic;
}
div{
    color: blue;
}
p{
    color: red;
}
.big{
    font-size: 25pt;
}
.bold{
    font-weight: bold;
}
#one{
    background-color: orange;
}
#two
{
    padding-left: 20px;
}
input[disabled]
{
    font-size: 8pt;
    width: 300px;
}
input[type="text"]
{
    height: 30px;
}